h1 {
    color: red;
    font-size: 14px;
    font-weight: 600;
}

h2 {
    font-weight: 800;
    font-size: 37px;
    line-height: 1;
}

h3 {
    color: #666;
    font-size: 21px;
    font-weight: 600;
}

span {
    color: black;
    font-size: 17px;
    font-weight: 600;
}

.date {
    color: silver;
    font-weight: 100;
}

.int ul {
    float: left;
    padding: 0px;
}

.int li {
    display: inline-block;
    margin: 9px 13px 17px 0px;
    font-size: 14px;
    border: 1px solid;
    padding: 4px 9px 4px 9px;
    border-radius: 37px;
    color: silver;
}

img {
    width: 655px;
}

.b {
    float: right;
    font-size: 12px;
    margin: 10px 0 0;
}

h4 {
    font-size: 14px;
    margin: 26px 0 10px;
    border-bottom: 1px solid;
    padding: 0 0 20px;
}

.article i {
    border-bottom: 1px solid;
}

p {
    font-size: 18px;
    font-family: "Open Sans","Segoe UI","Helvetica",sans-serif;
}

h5 {
    font-weight: 600;
    float: left;
    margin: 2px 14px 0 0;
}

.ta li {
    display: inline-block;
    margin: 2px;
}

.ta ul {
    float: left;
    padding: 0;
}